body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.topo{
    background: #ffae1f url("../imagens/fundosite.png") no-repeat center;
    background-size: cover;
    height: 150px;
}
.logo{
    max-height: 100px;
}
.input-topo{
    border: none;
}
.input-topo:focus {
    border-color: #cccccc;
    outline: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
}
a{
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}
.chama-zap{
    color: #25B825;
}
.favoritos{
    border-radius: 5px;
    color: #ffae1f;
}
.favoritos:hover{
    color: #fff;
}
.produtos{
    border-right: 2px solid rgb(220, 220, 220);
    min-height: 70vh;
}
.conteudo{
    min-height: 70vh;
}
.rodape{
    background-color: #ffae1f;
}
.sal{
    border-right: 2px solid rgb(220, 220, 220);
}
.rodape p{
    font-weight: bold;
    color: #fff;
}
.td-info{
    align-items: flex-start;
}
.produtos ul{
    padding-left: 0;
}
.produtos ul li{
    color: black;
    list-style-type: none;
    padding-left: 5px;
}
.produtos ul a li{
    background-color: #ffae1f;
    border-bottom: 1px solid black;
}
.produtos ul a li:hover{
    background-color: black;
    color: #ffae1f;
}